* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
	background-color: #F8F9FA;
	color: #495057;
}

h1, h2, h3, h4, h5, h6 {
	color: #343a40;
	text-align: left;
}

h1 {
	font-size: 35px;
	font-weight: bolder;
	text-align: center;
	line-height: 2em;
}

body {
	text-align: justify;
	margin-top: 100px;
	margin-left: 150px;
	margin-right: 150px;
	line-height: 27px;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.6s;
	z-index: 100000;

}

header.sticky {
	padding: 5px 100px;
	background: #212529;
}

header .logo {
	position: relative;
	font-weight: 700;
	color: #000;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li {
	position: relative;
	list-style: none;
}

header ul li a {
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #000;
	letter-spacing: 2px;
	font-weight: 500px;
	transition: 0.5s;
}

header.sticky .logo,
header.sticky .dropdown,
header.sticky ul,
header.sticky ul li,
header.sticky ul li a {
	color: #fff;
	background-color: #212529;
}
#google_translate_element {
	margin-right: 30px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.images {
	text-align: center;
	width: 500px;
}

#information h2,
#information h3,
#information h4 {
	line-height: 3em;
}

p, li{
	font-family: 'Open Sans', sans-serif;
}
.title-img{
  display: block;
  width: 30%;
	margin: 1rem auto;
	border: double 10px #000000d8;
	border-radius: 50%;
	height: 300px;
}
