article{
  margin-top: 3rem;;
}
h4, h3{
margin-top: 1rem ;

}

.page-title, h3{
  text-align: center;
}
.information ul li a:link {
  color: #228eaf;
}
.main-img{
  display: block;
  width: 50%;
  margin: 1rem auto;
}
