article{
  margin-top: 3rem;;
}
h4, h3{
margin-top: 1rem ;

}

.page-title, .sub{
  text-align: center;
}

.main-img{
  display: block;
  width: 50%;
  margin: 1rem auto;
}
ul{
  list-style-type: square;
}

a.image-credit{
  font-size: .5rem;
  color: #727272;
  padding-left:42rem;
  margin-top: 0;
}
